<app-loading *ngIf="loading"></app-loading>
<div class="container-fluid" *ngIf="!loading">
  <form [formGroup]="formulario" novalidate (ngSubmit)="guardar($event)">
    <div class="card w-100">
      <h5 class="card-header">Solicitud</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <label for="tipoproducto">Tipo producto</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-th"></i></span>
                </div>
                <select
                  name="tipoproducto_id"
                  id="tipoproducto_id"
                  class="form-control form-control-sm"
                  formControlName="tipoproducto_id"
                >
                  <option [ngValue]="null" disabled>
                    Seleccione tipo de producto
                  </option>
                  <option [value]="item.value" *ngFor="let item of tipoProductos">
                    {{ item.label }}
                  </option>
                </select>
              </div>
              <div
                *ngIf="
                  formulario.get('tipoproducto_id').errors &&
                  formulario.get('tipoproducto_id').touched
                "
              >
                <small
                  *ngIf="formulario.get('tipoproducto_id').hasError('required')"
                  class="form-text text-danger"
                  >el campo tipo producto no debe estar vacío.</small
                >
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <label for="regional">Regional</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-map"></i
                  ></span>
                </div>
                <select
                  name="regional_id"
                  id="regional_id"
                  class="form-control form-control-sm"
                  formControlName="regional_id"
                >
                  <option [ngValue]="null" disabled>
                    Seleccione la regional
                  </option>
                  <option [value]="item.value" *ngFor="let item of regionales">
                    {{ item.label }}
                  </option>
                </select>
              </div>
              <div
                *ngIf="
                  formulario.get('regional_id').errors &&
                  formulario.get('regional_id').touched
                "
              >
                <small
                  *ngIf="formulario.get('regional_id').hasError('required')"
                  class="form-text text-danger"
                  >el campo regional no debe estar vacío.</small
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <label for="contrato">Contrato</label>
              <app-autocomplete
                [url]="url"
                (seleccionado)="seleccionado($event)"
                [labelValue]="'contrato'"
              ></app-autocomplete>
            </div>
            <div
              *ngIf="
                formulario.get('contrato_id').errors &&
                formulario.get('contrato_id').touched
              "
            >
              <small
                *ngIf="formulario.get('contrato_id').hasError('required')"
                class="form-text text-danger"
                >el campo contrato no debe estar vacío.</small
              >
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <label for="anio">Año</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-calendar-o"></i
                  ></span>
                </div>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  placeholder="Año"
                  formControlName="anio"
                />
              </div>
              <div
                *ngIf="
                  formulario.get('anio').errors &&
                  formulario.get('anio').touched
                "
              >
                <small
                  *ngIf="formulario.get('anio').hasError('required')"
                  class="form-text text-danger"
                  >el campo año no debe estar vacío.</small
                >
                <small
                  *ngIf="formulario.get('anio').hasError('min')"
                  class="form-text text-danger"
                  >el campo año minímo debe ser 2022.</small
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <label for="cantidad">Cantidad</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-sort-numeric-desc"></i
                  ></span>
                </div>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  placeholder="Cantidad"
                  formControlName="cantidad"
                />
              </div>
              <div
                *ngIf="
                  formulario.get('cantidad').errors &&
                  formulario.get('cantidad').touched
                "
              >
                <small
                  *ngIf="formulario.get('cantidad').hasError('required')"
                  class="form-text text-danger"
                  >el campo cantidad no debe estar vacío.</small
                >
                <small
                  *ngIf="formulario.get('cantidad').hasError('min')"
                  class="form-text text-danger"
                  >el campo cantidad minímo debe ser 1.</small
                >
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-file-text"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Descripción"
                  formControlName="descripcion"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <label for="profesional">Programador</label>
              <app-autocomplete
                [url]="urlProfesionales"
                (seleccionado)="seleccionadoProfesional($event)"
                [labelValue]="'profesional'"
              ></app-autocomplete>
            </div>
            <div
              *ngIf="
                formulario.get('profesional_id').errors &&
                formulario.get('profesional_id').touched
              "
            >
              <small
                *ngIf="formulario.get('profesional_id').hasError('required')"
                class="form-text text-danger"
                >el campo profesional no debe estar vacío.</small
              >
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-3 text-center">
            <button type="submit" class="btn btn-secondary btn-lg">
              <i class="fa fa-save mr-1"></i>Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
