<div class="container-fluid">
  <form>
    <div class="card w-100">
      <h5 class="card-header">Solicitud</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-th"></i></span>
                </div>
                <select
                  name="tipoproducto_id"
                  id="tipoproducto_id"
                  class="form-control form-control-sm"
                >
                  <option value="">Seleccione ...</option>
                  <option value="" *ngFor="let item of tipoProductos">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-map"></i
                  ></span>
                </div>
                <select
                  name="regional_id"
                  id="regional_id"
                  class="form-control form-control-sm"
                >
                  <option value="">Seleccione ...</option>
                  <option value="" *ngFor="let item of regionales">
                    {{ item.nombre }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <!--<p>crear-ods works!</p>-->
              <!--<app-buscar-producto></app-buscar-producto>-->
              <app-autocomplete
                [url]="url"
                (seleccionado)="seleccionado($event)"
                [labelValue]="'Contrato'"
              ></app-autocomplete>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-calendar-o"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Año"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-sort-numeric-desc"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Cantidad"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-file-text"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Descripción"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-3 text-center">
            <button type="button" class="btn btn-secondary btn-lg">
              <i class="fa fa-save mr-1"></i>Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
