<div *ngIf="loading">
    <!--<button type="button" class=" close" aria-label="Close" (click)="closeModal()">
        <i class="fa fa-close text-darks"></i>
      </button>-->
    <app-loading></app-loading>
  </div>

  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">
      <span > Nueva Cita </span>
    </h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <i class="fa fa-close"></i>
    </button>
  </div>  
  <div class="modal-body" style="min-height: 380px">
    <div class="row">
        <div class="alert alert-info w-100">
            <div class="col-md-6">Profesional : {{data.cita.profesional}}</div>
            <div class="col-md-6">Tipo: {{data.odsDetalles.tipo_producto.name}}</div>
            <div class="col-md-6">realizado a: {{data.persona.nombre}} Cédula {{data.persona.cedula}}</div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <label for="regional">inicio (d/m/Y)</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-calendar"></i
                  ></span>
                </div>
                <input
                  type="text"
                  name="start"
                  id="start"
                  class="form-control form-control-sm"
                  readonly
                  ngbDatepicker
                  #d="ngbDatepicker"
                />
             
              </div>
            </div>
          </div> 
          <div class="col-md-6">
            <div class="form-group">
              <label for="regional">Hora inicio</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-clock-o"></i
                  ></span>
                </div>
                <ngb-timepicker
                  
                  [(ngModel)]="start_time"
                  [spinners]="false"
                  [size]="'small'"
                ></ngb-timepicker>
              </div>
            </div>
          </div>                 
        <div class="col-md-6">
            <div class="form-group">
              <label for="regional">Final (d/m/Y)</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-calendar"></i
                  ></span>
                </div>
                <input
                  type="text"
                  name="start"
                  id="start"
                  class="form-control form-control-sm"
                  readonly
                  ngbDatepicker
                  #d2="ngbDatepicker"
                />
              </div>
            </div>
          </div>  
          <div class="col-md-6">
            <div class="form-group">
              <label for="regional">Hora Fin</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-clock-o"></i
                  ></span>
                </div>
                <ngb-timepicker
                  
                  [(ngModel)]="end_time"
                  [spinners]="false"
                  [size]="'small'"
                ></ngb-timepicker>
              </div>
            </div>
          </div>                
    </div>
</div>

<div class="modal-footer">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 text-right">
        <button type="button" class="btn btn-dark" (click)="closeModal()">
          Salir</button
        >&nbsp;
        <button
          type="submit"
          class="btn btn-primary"
        >
          Reservar
        </button>
      </div>
    </div>
  </div>
