<div class="modal-header">
  <h3 class="modal-title" id="modal-basic-title">
    <span> Carga de datos de Excel a múltiples solicitudes </span>
  </h3>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <i class="fa fa-close"></i>
  </button>
</div>
<div class="m-3">
  <app-loading *ngIf="loading"></app-loading>
  <div class="card bg-light mb-1 w-100" *ngIf="!procesadoReady">
    <div class="card-header">Carga un archivo de excel</div>
    <div class="card-body">
      <file-upload
        [multiple]="false"
        [autoupload]="true"
        (ArchivosCargados)="getArchivos($event)"
        [title]="'Agregar Excel con personas a multiples solicitudes'"
        [document_type]="'clientes'"
        [accept_files_extension]="['xlsx', 'csv']"
      ></file-upload>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="procesarDatosExcel()"
      >
        <i class="fa fa-search"></i>Procesa Excel
      </button>
    </div>
  </div>
  <div class="card bg-light mb-1 w-100" *ngIf="procesadoReady">
    <table class="table table-sm table-hover table-bordered table-striped">
      <thead>
        <tr>
          <td>
            <input
              *ngIf="!confirmacionNuevoProducto"
              type="checkbox" 
              id="todos" 
              name="todos"               
              (change)="seleccionarTodos($event.target.checked)"
            >
          </td>
          <th>#</th>
          <th *ngIf="confirmacionNuevoProducto" >Creado</th>
          <th>Nombre</th>
          <th>Cedula</th>
          <th>Solicitud Id</th>
        </tr>
      </thead>
      <tbody
        *ngFor="let item of datosProcesados; let i = index"
        [ngClass]="item.existeSolicitudDestinoId ? '' : 'fondo-rojo'"
        [title]="item.existeSolicitudDestinoId ? '' : 'No existe solicitud de destino'"
      >
        <tr class="cursor-po" (click)="getExpandirData(item.cedula)">
          <td>
            <input
              *ngIf="item.existeSolicitudDestinoId && !item.nuevoProducto" 
              type="checkbox"   
              [checked]="item.agregar" 
              (change)="seleccionarAgregar($event.target.checked, item.cedula)"
            >
          </td>
          <td>{{ i + 1 }}</td>
          <th *ngIf="item.nuevoProducto" >{{item.nuevoProducto.creado? 's':'n'}}</th>
          <td>{{ item.nombre }}</td>
          <td>{{ item.cedula }}</td>
          <td >{{ item.solicitudInfo.id }} 
            <span *ngIf="item.historia.length" class="badge badge-light ml-2">{{item.historia.length}}</span>
          </td>
        </tr>
        <tr *ngIf="dataExpandida.cedula === item.cedula && dataExpandida.historia.length">
          <td colspan="6">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th>Solicitud</th>
                  <th>Nombre</th>
                  <th>Cedula</th>
                  <th>Creado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ dataExpandida.historia[0].solicitud }}</td>
                  <td>{{ dataExpandida.historia[0].nombre }}</td>
                  <td>{{ dataExpandida.historia[0].cedula }}</td>
                  <td>{{ dataExpandida.historia[0].creado }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <button *ngIf="!confirmacionNuevoProducto" (click)="enviarDatosAgregar()" type="submit" class="btn btn-secondary btn-lg">
      <i class="fa fa-save mr-1"></i>Guardar
    </button>
  </div>
</div>
