<div class="modal-header">
  <h3 class="modal-title" id="modal-basic-title">
    <span> Reasignar persona </span>
  </h3>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <i class="fa fa-close"></i>
  </button>
</div>
<div class="m-3">
  <app-loading *ngIf="loading"></app-loading>
  <div class="card bg-light mb-1 w-100">
    <div class="card-header">
      Carga un archivo de excel
    </div>
    <div class="card-body">
      <file-upload
        [multiple]="false"
        [autoupload]="true"
        (ArchivosCargados)="getArchivos($event)"
        [title]="'Agregar Excel con personas'"
        [document_type]="'clientes'"
        [accept_files_extension]="['xlsx', 'csv']"
      ></file-upload>
    </div>
  </div>
</div>
