<app-loading *ngIf="loading"></app-loading>
<ng-container *ngIf="tableConfig">
  <button class="btn btn-success btn-sm pull-right carga-excel"
  (click)="cargaExcelMultiSolicitud()">
    <i class="fa fa-file-excel-o"></i> Cargar Excel
  </button>
  <app-bgtable
    [tableConfig]="tableConfig"
    (editarAction)="editarSolicitud($event)"
    (nuevoAction)="agregarSolicitud($event)"
    (eliminarAction)="eliminar($event)"
    (copiarAction)="programar($event)"
    *ngIf="!loading"
  ></app-bgtable>
</ng-container>
