<div *ngIf="loading">
  <!--<button type="button" class=" close" aria-label="Close" (click)="closeModal()">
      <i class="fa fa-close text-darks"></i>
    </button>-->
  <app-loading></app-loading>
</div>

<form [formGroup]="formulario" novalidate (ngSubmit)="guardar($event)">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">
      <span *ngIf="!formulario.get('id').value"> Nuevo Agenda </span>
      <span *ngIf="formulario.get('id').value"> Editar Agenda </span>
    </h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <i class="fa fa-close"></i>
    </button>
  </div>

  <div class="modal-body" style="min-height: 380px">
    <div class="row"><div class="col-md-12"></div></div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="regional">inicio</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fa fa-calendar"></i
              ></span>
            </div>
            <input
              type="text"
              name="start"
              id="start"
              class="form-control form-control-sm"
              formControlName="start"
              readonly
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <button
              class="btn btn-outline-secondary btn-sm calendar"
              (click)="d.toggle()"
              type="button"
            >
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="regional">Hora inicio</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-map"></i></span>
            </div>
            <ngb-timepicker
              formControlName="start_time"
              [(ngModel)]="start_time"
              [spinners]="false"
              [size]="'small'"
            ></ngb-timepicker>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="regional">Final</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fa fa-calendar"></i
              ></span>
            </div>
            <input
              type="text"
              name="end"
              id="end"
              class="form-control form-control-sm"
              formControlName="end"
              readonly
              ngbDatepicker
              #d2="ngbDatepicker"
            />
            <button
              class="btn btn-outline-secondary btn-sm calendar"
              (click)="d2.toggle()"
              type="button"
            >
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="regional">Hora Fin</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-map"></i></span>
            </div>
            <ngb-timepicker
              formControlName="end_time"
              [(ngModel)]="end_time"
              [spinners]="false"
              [size]="'small'"
            ></ngb-timepicker>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="regional">Tipo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-map"></i></span>
            </div>
            <select
              type="text"
              name="tipo"
              id="tipo"
              class="form-control form-control-sm"
              formControlName="tipo"
            >
              <option [ngValue]="null" disabled>
                Seleccione tipo de producto
              </option>
              <option [value]="item.id" *ngFor="let item of tiposLista">
                {{ item.nombre }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 text-right">
        <button type="button" class="btn btn-dark" (click)="closeModal()">
          Salir</button
        >&nbsp;
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="formulario.invalid || loading"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</form>
