<app-loading *ngIf="loading"></app-loading>

<div class="container-fluid" *ngIf="!loading">
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-1">
    <div class="collapse navbar-collapse" id="navbarNav">
      <div
        class="btn-group pull-right ml-auto"
        role="group"
        aria-label="Basic example"
      >
        <!--<button
          class="btn btn-sm btn-outline-secondary"
          (click)="agregarRegistro()"
        >
          <i class="fa fa-plus-circle"></i>
          Agregar Registro
        </button>-->
        <button
          type="button"
          class="btn btn-outline-info btn-sm"
          (click)="filtrar()"
        >
          <i class="fa fa-filter"></i> Filtrar
        </button>
        <button
          *ngIf="permisoCargueExcel"
          class="btn btn-outline-success btn-sm pull-right"
          (click)="openCargaExcel()"
        >
          <i class="fa fa-file-excel-o"></i> Cargar Excel
        </button>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              Contrato: {{ odsDetalles.contrato.nombre }}
            </div>
            <div class="col-md-12">
              producto:
              {{ odsDetalles.tipo_producto.name }}
            </div>
            <div class="col-md-12">
              regional: {{ odsDetalles.regional.nombre }}
            </div>
            <div class="col-md-12">
              <span class="badge badge-secondary p-1">
                {{ odsDetalles.anio }}</span
              >
              <span class="badge badge-success p-1 ml-1">
                {{ odsDetalles.cantidad }}</span
              >
              duracion min
              <span class="badge badge-info p-1 ml-1">
                {{ odsDetalles.tipo_producto.tiempo }}</span
              >
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ odsDetalles.descripcion }}
          </p>
          <p>
            Total registros Ejecutados
            {{ statsProductoRepso.totalEjecutados }} de
            {{ totalRecords }} registros cargados
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <form [formGroup]="formularioArchivo" novalidate>
        <div class="row" *ngIf="mostrarCargaExcel">
          <div class="col-md-10 offset-md-1">
            <!--<div class="alert alert-danger">
              <p>espacio notificación de error</p>
            </div>-->
            <div class="card bg-light mb-1 w-100">
              <div class="card-header">
                Carga un archivo de excel
                <div class="float-right">
                  <mat-form-field
                    class="search__form_field"
                    appearance="outline"
                    style="width: 100px"
                  >
                    <mat-label>Forzar Cargue</mat-label>
                    <mat-select
                      aria-label="Forzar Cargue"
                      placeholder="Forzar Cargue"
                      formControlName="forzarCargue"
                    >
                      <mat-option disabled>...</mat-option>
                      <mat-option [value]="'Si'">Si</mat-option>
                      <mat-option [value]="'No'">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="card-body">
                <file-upload
                  [fk_key]="formularioArchivo.get('id').value"
                  [autoupload]="true"
                  (ArchivosCargados)="getArchivos($event)"
                  [title]="'Agregar Excel con personas a producto'"
                  [document_type]="'clientes'"
                  [accept_files_extension]="['xlsx', 'csv']"
                ></file-upload>
              </div>
            </div>
          </div>
        </div>
      </form>

      <form
        [formGroup]="formularioFiltro"
        novalidate
        (ngSubmit)="filtrarResultados($event)"
      >
        <div class="row" *ngIf="mostrarFiltros">
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="form-group">
              <label for="regional">Dependencia</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-map"></i
                  ></span>
                </div>
                <input
                  type="number"
                  name="fdependencia_id"
                  id="fdependencia_id"
                  class="form-control form-control-sm"
                  formControlName="dependencia"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="form-group">
              <label for="regional">Cédula</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-map"></i
                  ></span>
                </div>
                <input
                  type="number"
                  name="fcedula"
                  id="fcedula"
                  class="form-control form-control-sm"
                  formControlName="cedula"
                />
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="form-group">
              <label for="regional">Nombre</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-map"></i
                  ></span>
                </div>
                <input
                  type="text"
                  name="fnombre"
                  id="fnombre"
                  class="form-control form-control-sm"
                  formControlName="nombre"
                />
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="form-group">
              <label for="regional">Estado Programación</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-map"></i
                  ></span>
                </div>
                <select
                  name="festado"
                  id="festado"
                  class="form-control form-control-sm"
                  formControlName="estado"
                >
                  <option [ngValue]="null" disabled>Seleccione Estado</option>
                  <option [value]="item.id" *ngFor="let item of estadosLista">
                    {{ item.nombre }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="form-group">
              <label for="regional">Estado Seguimiento</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-map"></i
                  ></span>
                </div>
                <select
                  name="festado_seguimiento"
                  id="festado_seguimiento"
                  class="form-control form-control-sm"
                  formControlName="estado_seguimiento"
                >
                  <option [ngValue]="null" disabled>Seleccione Estado</option>
                  <option
                    [value]="item.id"
                    *ngFor="let item of estadosListaSeguimiento"
                  >
                    {{ item.nombre }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="form-group">
              <label for="regional">Modalidad</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-map"></i
                  ></span>
                </div>
                <select
                  type="number"
                  name="fmodalidad"
                  id="fmodalidad"
                  class="form-control form-control-sm"
                  formControlName="modalidad"
                >
                  <option value="1">Presencial</option>
                  <option value="2">Virtual</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 mb-3">
                <button
                  type="submit"
                  class="btn btn-outline-secondary btn-sm pull-right"
                >
                  <i class="fa fa-search"></i> Buscar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary btn-sm pull-right mr-2 ml-2"
                  (click)="limpiarFiltrosForm()"
                >
                  Limpiar Filtros
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="totalRecords"
      [boundaryLinks]="true"
      [directionLinks]="true"
      [ellipses]="true"
      [maxSize]="6"
      [rotate]="true"
      (pageChange)="pageChange($event)"
      size="sm"
    ></ngb-pagination>
  </div>

  <div class="row">
    <div class="col-10 col-lg-10">
      <em *ngIf="totalRecords > 0" class="fz-12"
        >{{ from }}-{{ to }} - {{ totalRecords }}</em
      >
      <em *ngIf="totalRecords == 0" class="fz-12">Sin Resultados</em>
    </div>
    <div class="col-2 col-lg-2">
      <div class="float-right">
        <span class="fz-12">Mostrar</span>
        <select
          (change)="onChangePaginationSize()"
          name=""
          id=""
          [(ngModel)]="pageSize"
          class="mb-1 ml-1"
          style="width: 60px"
        >
          <option [value]="le" *ngFor="let le of pageLength">{{ le }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-sm table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Fecha Progra (d/m/Y)</th>
          <th>Profesional</th>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Estado Seguimiento</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of productosLista">
          <tr
            *ngIf="item.cedula !== ''"
            [ngClass]="{
              'bg-info text-white':
                personaGestion && item.cedula == personaGestion.cedula
            }"
          >
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  (click)="gestionProgramacion(item)"
                >
                  <i class="fa fa-tasks"></i>
                </button>
                <button
                  *ngIf="currentUser.perfil.id == 1"
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="eliminarProgramacion(item)"
                >
                  <i class="fa fa-close"></i>
                </button>
                <button
                  *ngIf="currentUser.perfil.id == 1"
                  type="button"
                  class="btn btn-warning btn-sm"
                  (click)="reasignarPersona(item)"
                  title="Reasignar Persona"
                >
                  <i class="fa fa-exchange"></i>
                </button>
              </div>
            </td>
            <td>{{ item.fecha_programacion }}</td>
            <td>{{ item.profesional_des }}</td>
            <td>{{ item.cedula }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.estado }}</td>
            <td>{{ item.estado_seguimiento }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <form [formGroup]="formulario" novalidate (ngSubmit)="guardar($event)">
    <div class="row" *ngIf="mostrarRegistro">
      <ngb-accordion
        #acc="ngbAccordion"
        class="w-100"
        closeOthers="true"
        activeIds="toggle-2"
      >
        <ngb-panel id="toggle-2" title="Gestionar Programación">
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">Cedula</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="cedula"
                      id="decula"
                      class="form-control form-control-sm"
                      formControlName="cedula"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">Nombre</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="nombre"
                      id="nombre"
                      class="form-control form-control-sm"
                      formControlName="nombre"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">Dependencia</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="hidden"
                      name="dependencia_id"
                      id="dependencia_id"
                      class="form-control form-control-sm"
                      formControlName="dependencia_id"
                      readonly
                    />
                    <input
                      type="text"
                      name="dependencia"
                      id="dependencia"
                      class="form-control form-control-sm"
                      formControlName="dependencia"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="email"
                      id="email"
                      class="form-control form-control-sm"
                      formControlName="email"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">Teléfono</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="telefono"
                      id="telefono"
                      class="form-control form-control-sm"
                      formControlName="telefono"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">División</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="division"
                      id="division"
                      class="form-control form-control-sm"
                      formControlName="division"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">Subdivisión</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="subdivision"
                      id="subdivision"
                      class="form-control form-control-sm"
                      formControlName="subdivision"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">Cargo</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="cargo"
                      id="cargo"
                      class="form-control form-control-sm"
                      formControlName="cargo"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">Dirección</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="direccion"
                      id="direccion"
                      class="form-control form-control-sm"
                      formControlName="direccion"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">Ciudad</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="ciudad"
                      id="ciudad"
                      class="form-control form-control-sm"
                      formControlName="ciudad"
                      readonly
                    />
                    <input
                      type="text"
                      name="ciudad_id"
                      id="ciudad_id"
                      class="form-control form-control-sm"
                      formControlName="ciudad_id"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">Barrio</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="barrio"
                      id="barrio"
                      class="form-control form-control-sm"
                      formControlName="barrio"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="form-group">
                  <label for="regional">Otro si</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="otrosi"
                      id="otrosi"
                      class="form-control form-control-sm"
                      formControlName="otrosi"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div
                class="alert alert-dark w-100 text-dark font-weight-bold text-center"
              >
                Datos para diligenciar
              </div>

              <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="regional">Modalidad</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>

                    <select
                      name="modalidad"
                      id="modalidad"
                      class="form form-control-sm"
                      formControlName="modalidad"
                    >
                      <option value="1">Presencial</option>
                      <option value="2">Virtual</option>
                    </select>
                  </div>
                  <div
                    *ngIf="
                      formulario.get('modalidad').errors &&
                      formulario.get('modalidad').touched
                    "
                  >
                    <small
                      *ngIf="formulario.get('modalidad').hasError('required')"
                      class="form-text text-danger"
                      >el campo modalidad no debe estar vacío.</small
                    >
                  </div>
                </div>
              </div>
              <!--
              <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="regional">Descripción</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      name="descripcion"
                      id="descripcion"
                      class="form-control form-control-sm"
                      formControlName="descripcion"
                    />
                  </div>
                  <div
                    *ngIf="
                      formulario.get('descripcion').errors &&
                      formulario.get('descripcion').touched
                    "
                  >
                    <small
                      *ngIf="formulario.get('descripcion').hasError('required')"
                      class="form-text text-danger"
                      >el campo descripcion no debe estar vacío.</small
                    >
                  </div>
                </div>
              </div> -->
              <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="regional">Numero de Citas</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <input
                      type="number"
                      name="numero_citas"
                      id="numero_citas"
                      class="form-control form-control-sm"
                      formControlName="numero_citas"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="regional">Fecha Seguimiento</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>

                    <input
                      type="tet"
                      (dateSelect)="dateSeleccionado($event)"
                      ngbDatepicker
                      #d="ngbDatepicker"
                      name="fecha_seguimiento"
                      id="fecha_seguimiento"
                      class="form-control form-control-sm"
                      formControlName="fecha_seguimiento"
                      readonly
                    />
                    <ng-container *ngIf="currentUser.perfil.id != 3">
                      <div class="input-group-append">
                        <i class="fa fa-calendar" (click)="d.toggle()"></i>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 col-xs-12 d-none">
                <div class="form-group">
                  <label for="regional">Estado Seguimiento </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <select
                      name="estado_seguimiento"
                      [attr.disabled]="
                        currentUser.perfil.id != 3 ? null : 'disabled'
                      "
                      id="estado_seguimiento"
                      class="form-control form-control-sm"
                      formControlName="estado_seguimiento"
                      (change)="changeEstadoSeguimiento($event.target.value)"
                    >
                      <option [ngValue]="null" disabled>
                        Seleccione Estado
                      </option>
                      <option
                        [value]="item.id"
                        *ngFor="let item of estadosListaSeguimiento"
                      >
                        {{ item.nombre }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="regional">Comentarios</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <textarea
                      type="text"
                      name="comentarios"
                      id="comentarios"
                      class="form-control form-control-sm"
                      formControlName="comentarios"
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="regional"
                    >Cargado Modulo Pyp y Ergonomia (si/no)</label
                  >
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <select
                      name="pyp_ergonomia"
                      id="pyp_ergonomia"
                      class="form form-control-sm"
                      formControlName="pyp_ergonomia"
                    >
                      <option value="1">Si</option>
                      <option value="2">No</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="regional"
                    >Estado Programación : {{ personaGestion.estado }}
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>

                    <select
                      name="estado_programacion"
                      id="estado_programacion"
                      class="form-control form-control-sm"
                      formControlName="estado_programacion"
                      (change)="
                        changeGenerarReprogramacionCita($event.target.value)
                      "
                    >
                      <option [ngValue]="null" disabled>
                        Seleccione Estado
                      </option>
                      <option
                        [value]="item.id"
                        *ngFor="let item of estadosListaProceso"
                      >
                        {{ item.nombre }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div
                class="col-md-4 col-lg-4 col-xs-12"
                *ngIf="validarEstadoProgramacion()"
              >
                <div class="form-group">
                  <label for="regional"
                    >Comentario Cancelación o Reprogramación</label
                  >
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map"></i
                      ></span>
                    </div>
                    <textarea
                      type="text"
                      name="comentario_cancelacion"
                      id="comentario_cancelacion"
                      class="form-control form-control-sm"
                      formControlName="comentario_cancelacion"
                    ></textarea>
                  </div>
                  <div
                    *ngIf="
                      formulario.get('comentario_cancelacion').errors &&
                      formulario.get('comentario_cancelacion').touched
                    "
                  >
                    <small
                      *ngIf="
                        formulario
                          .get('comentario_cancelacion')
                          .hasError('required')
                      "
                      class="form-text text-danger"
                      >el campo comentario cancelación no debe estar
                      vacío.</small
                    >
                    <small
                      *ngIf="
                        formulario
                          .get('comentario_cancelacion')
                          .hasError('minlength')
                      "
                      class="form-text text-danger"
                      >el campo comentario debe ser mayor a 5 caracteres.</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-12 col-xs-12">
                <!--<button
                  mat-fab
                  color="accent"
                  aria-label="Example icon button with a bookmark icon"
                >
                  <mat-icon>comment</mat-icon>
                </button>-->
                <button class="btn btn-light pull-right" (click)="addComment()">
                  Agregar Comentarios <i class="fa fa-comment"></i>
                </button>
              </div>

              <div
                class="col-md-12 col-lg-12 col-xs-12"
                *ngIf="showButtonInformacionProgramacion"
              >
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 offset-md-3">
                      <button
                        type="button"
                        class="btn btn-block btn-outline-secondary btn-lg mb-5"
                        (click)="guardarInformacionProgramacion()"
                      >
                        Guardar <i class="fa fa-save"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--
            <table
              class="table table-sm table-bordered"
              *ngIf="agendasDisponibles"
            >
              <thead class="thead-light">
                <tr>
                  <th>Profesional</th>
                  <th>Fecha cita Disponible (Y-m-d)</th>
                  <th>Hora Cita</th>
                  <th></th>
                </tr>
                <tr>
                  <th>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="profesionalsearch"
                      id="profesionalsearch"
                      name="profesionalsearch"
                    />
                  </th>
                  <th>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="fechadisponiblesearch"
                      id="fechadisponiblesearch"
                      name="fechadisponiblesearch"
                    />
                  </th>
                  <th>
                    <input type="text" class="form-control form-control-sm" />
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="
                    let item of agendasDisponibles
                      | filterfor
                        : {
                            profesional:
                              formulario.get('profesionalsearch').value || '',
                            dateformat_name:
                              formulario.get('profesionalsearch').value || ''
                          }
                        : false
                  "
                >
                  <tr *ngIf="item.minutes >= odsDetalles.tipo_producto.tiempo">
                    <td>{{ item.profesional }}</td>
                    <td>{{ item.dateformat_name }}</td>
                    <td>
                      {{ item.start }} hasta {{ item.end }} libres
                      {{ item.minutes }} minutos
                    </td>
                    <td>
                      <button
                        class="btn btn-sm btn-outline-secondary"
                        (click)="openModalNewCita(item)"
                      >
                        <i class="fa fa-calendar"></i> Reservar
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>-->
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </form>

  <div class="row">
    <div class="col-md-8 mt-3">
      <div *ngIf="agendasDisponibles">
        <form
          [formGroup]="searchForm"
          class="search__form"
          style="font-size: 12px"
        >
          <mat-form-field class="search__form_field" appearance="outline">
            <mat-label>profesional</mat-label>
            <input
              type="text"
              aria-label="profesional"
              matInput
              formControlName="profesionalsearch"
              (keyup)="applyFilter()"
              autocomplete="off"
            />
          </mat-form-field>

          <mat-form-field
            class="search__form_field"
            appearance="outline"
            style="width: 120px"
          >
            <mat-label>Dia</mat-label>
            <input
              type="text"
              aria-label="Fecha Cita"
              matInput
              formControlName="fechacitasearch"
              (keyup)="applyFilter()"
              autocomplete="off"
              placeholder="lunes"
            />
          </mat-form-field>

          <mat-form-field
            class="search__form_field"
            appearance="fill"
            style="width: 170px"
          >
            <mat-label>fecha Cita Disponible</mat-label>
            <input
              matInput
              formControlName="fechacitadatesearch"
              [matDatepicker]="picker"
              (dateInput)="applyFilter()"
              (dateChange)="reloadInfoCouncitas()"
              readonly
            />
            <!--<button
              mat-button
              *ngIf="searchForm.get('fechacitadatesearch').value"
              (click)="clearInput()"
            >
              <mat-icon>close</mat-icon>
            </button>-->
            <mat-datepicker-toggle
              matSuffix
              *ngIf="searchForm.get('fechacitadatesearch').value"
            >
              <mat-icon matDatepickerToggleIcon (click)="clearInput()"
                >clear</mat-icon
              >
            </mat-datepicker-toggle>
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field
            class="search__form_field"
            appearance="outline"
            style="width: 120px"
          >
            <mat-label>Hora desde</mat-label>
            <mat-select
              aria-label="Hora Desde"
              formControlName="horacitadatesearch"
              (selectionChange)="applyFilter()"
              placeholder="Selecciona una hora"
            >
              <mat-option disabled>Seleccione una hora</mat-option>
              <mat-option [value]="-1">Todos</mat-option>
              <mat-option
                *ngFor="let hour of getHoursBetween(6, 19)"
                [value]="hour"
              >
                {{ hour }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            class="search__form_field"
            appearance="outline"
            style="width: 120px"
          >
            <mat-label>Hora Hasta</mat-label>
            <mat-select
              aria-label="Hora Hasta"
              formControlName="horacitadateendsearch"
              (selectionChange)="applyFilter()"
              placeholder="Selecciona una hora"
            >
              <mat-option disabled>Seleccione una hora</mat-option>
              <mat-option [value]="-1">Todos</mat-option>
              <mat-option
                *ngFor="let hour of getHoursBetween(6, 19)"
                [value]="hour"
              >
                {{ hour }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div [ngClass]="currentUser.perfil.id != 3 ? 'col-md-8' : 'col-md-12'">
      <div *ngIf="agendasDisponibles">
        <div *ngIf="agendasDisponibles.data.length">
          <mat-paginator
            #paginator
            [pageSizeOptions]="[20, 50, 100]"
            [length]="agendasDisponibles?.data?.length"
            [pageSize]="20"
            showFirstLastButtons
          >
          </mat-paginator>

          <table
            mat-table
            [dataSource]="agendasDisponibles"
            class="mat-elevation-z8 w-100"
            #tabla1
          >
            <!-- Position Column -->
            <ng-container matColumnDef="profesional">
              <th mat-header-cell *matHeaderCellDef>Profesional.</th>
              <td mat-cell *matCellDef="let element" class="font9">
                {{ element.profesional }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="fechacita">
              <th mat-header-cell *matHeaderCellDef>Fecha disp.( Y-m-d)</th>
              <td mat-cell *matCellDef="let item">
                {{ item.dateformat_name }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="horacita">
              <th mat-header-cell *matHeaderCellDef>Hora cita</th>
              <td mat-cell *matCellDef="let item" class="font9">
                {{ item.start }} hasta {{ item.end }} libres
                {{ item.minutes }} minutos
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary me-2"
                  placement="top"
                  ngbTooltip="Reservar"
                  (click)="openModalNewCita(item)"
                >
                  <i class="fa fa-calendar"></i>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
    <div
      class="col-md-4"
      *ngIf="agendasDisponibles && currentUser.perfil.id != 3"
    >
      <div class="row">
        <div class="col-md-12" *ngIf="!displayByMonth">
          <table
            class="table table-sm table-hover table-bordered table-striped mt-3"
          >
            <thead>
              <tr>
                <th colspan="4">
                  <button
                    class="btn btn-sm btn-block btn-light text-left"
                    (click)="changeDisplay()"
                  >
                    <i class="fa fa-arrow-circle-o-left"></i>
                    <span class="font8"> Volver</span>
                  </button>
                  Vista por Dia
                </th>
              </tr>
              <tr>
                <th>profesional</th>
                <th>Fecha</th>
                <th>#citas</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of citasByDay">
                <td>{{ item.name }}</td>
                <td>{{ item.fecha }}</td>
                <td>{{ item.total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12" *ngIf="displayByMonth">
          <table
            class="table table-sm table-hover table-bordered table-striped mt-3"
          >
            <thead>
              <tr>
                <th>Profesional</th>
                <th># Mes</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of citasByMonth">
              <tr>
                <td>
                  <button
                    class="btn btn-sm btn-block btn-light text-left"
                    (click)="countListaFilterByProfesional(item.profesional_id)"
                  >
                    <i class="fa fa-arrow-circle-o-right"></i>
                    <span class="font8"> {{ item.name }}</span>
                  </button>
                </td>
                <td>{{ item.total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--
      <div class="row">
        <div class="col-md-12 bg-light m3">
          <button
            class="btn btn-sm m-1"
            (click)="activeTipoProducto(item.tipoproducto_id)"
            [ngClass]="
              item.current
                ? 'btn-pea'
                : item.active
                ? 'btn-secondary'
                : 'btn-light'
            "
            *ngFor="let item of tipoProductoLista"
          >
            <span class="font8">{{ item.tipo_producto }} </span
            ><i class="fa fa-list"></i>
          </button>
        </div>
        <div class="col-md-12">
          <table
            class="table table-sm table-hover table-bordered table-striped mt-3"
          >
            <thead>
              <tr>
                <th>profesional</th>
                <th *ngIf="displayCountCitas.fecha">Fecha</th>
                <th *ngIf="displayCountCitas.fecha">Dia</th>
                <th>Citas</th>
                <th>Tipo Producto</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of countAgendasLista">
                <tr>
                  <td>
                    <button
                      class="btn btn-sm btn-block btn-light text-left"
                      (click)="
                        countListaFilterByProfesional(item.profesional_id)
                      "
                    >
                      <i class="fa fa-arrow-circle-o-right"></i>fff
                      <span class="font8"> {{ item.name }}</span>
                    </button>
                  </td>
                  <td *ngIf="displayCountCitas.fecha">{{ item.fecha }}</td>
                  <td *ngIf="displayCountCitas.fecha">{{ item.fechainfo }}</td>
                  <td align="center">
                    {{ item.numcitas }}
                  </td>
                  <td class="font8">{{ item.tipo_producto }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>-->
    </div>
  </div>
</div>
