<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8"></div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <full-calendar
        *ngIf="calendarVisible"
        [options]="calendarOptions"
        #calendar
      ></full-calendar>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="profesional" class="text-secondary">Profesional:</label>
        <!--<app-autocomplete
          [url]="urlProfesionales"
          (seleccionado)="seleccionadoProfesional($event)"
          [labelValue]="'profesional'"
        ></app-autocomplete>-->
        <div class="mb-1">
          <input style="width:350px;" type="text" placeholder="Busca Profesional"  [(ngModel)]="buscarProfesional" id="buscarprofesional" name="buscarprofesional" class="rounded float-right form-control mb-3" >
        </div>          
        <p *ngIf="profesionalSeleccionado" class="font-weight-bold text-right">
          <i class="fa fa-user-o text-success"></i>
          {{ profesionalSeleccionado.nombre }}
        </p>      
        <p *ngIf="!profesionalSeleccionado" class="font-weight-bold text-right">
          <i class="fa fa-user-o text-success"></i>
          no ha seleccionado Profesional
        </p>      
      </div>

      <ul class="list-group mt-1">
        <a
          (click)="seleccionadoProfesional(item)"
          class="list-group-item list-group-item-action"
          *ngFor="let item of profesionalesList | filterfor : { nombre: buscarProfesional}: false; let i = index"
          [ngClass]="
            profesionalSeleccionado && profesionalSeleccionado.id == item.id
              ? 'active'
              : ''
          "
        >
          {{ i + 1 + ").  " + item.nombre | titlecase }}
        </a>
      </ul>
    </div>
  </div>
</div>
